
<h2>Add a question</h2>
<form action="/questions" method="post">
  <div class="form-group">
    <label for="question_name">Enter your question</label>
    <input type="text" name="question_name" class="form-control" placeholder="'What is your favorite color?, etc.'">
  </div>
  <button name="submit">Create Question</button>

</form>
