
<h2>Create your own survey</h2>
<form action="/surveys" method="post">
  <div class="form-group">
    <label for="survey_name">Enter the name of your Survey</label>
    <input type="text" name="survey_name" class="form-control" placeholder="'What X-men character are you?, etc.'">
  </div>
  <button name="submit">Create Survey</button>

</form>
