<h2>Edit <%= @survey.name %></h2>
<form action="/surveys/<%= @survey.id %>?ref=<% @ref %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="survey_name">Edit the name of your Survey</label>
    <input type="text" name="survey_name" class="form-control" value="<%= @survey.name %>">
  </div>
  <button name="submit">Submit changes</button>

</form>
