<h2>Here are the current surveys</h2>

<table class="table table-hover">
  <tr>
    <th>
      Survey
    </th>
    <th>
      No. of Questions
    </th>
  </tr>
  <% @surveys.each do |survey| %>
  <tr>
    <td>
      <a href="/surveys/<%= survey.id %>"><%= survey.name %></a>
    </td>
    <td>
      <%= survey.questions.length %>
    </td>
    <td>
      <form action="/surveys/<%= survey.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button name="submit">Delete</button>
      </form>
    </td>
  </tr>
  <% end %>
</table>

<a href="/surveys/new">Add a Survey</a>
